<h3 id="version">1.0</h3>
<form>
    <button type="button" data-cathegory="marketing">Zaznacz Marketing</button>
    <button type="button" data-cathegory="analytics">Zaznacz Analitykę</button>
    <button type="button" data-cathegory="necessary">Zaznacz Niezbędne</button>
    
    <label>
        <input type="checkbox" data-statement="marketing_1" data-role="marketing"> Zgoda na marketing 1
    </label>
    <label>
        <input type="checkbox" data-statement="marketing_2" data-role="marketing"> Zgoda na marketing 2
    </label>
    <label>
        <input type="checkbox" data-statement="analytics_1" data-role="analytics"> Zgoda na analitykę 1
    </label>
    <label>
        <input type="checkbox" data-statement="analytics_2" data-role="analytics marketing"> Zgoda na analitykę 2 (także marketing)
    </label>
    <label>
        <input type="checkbox" data-statement="necessary_1" data-role="necessary"> Zgoda na niezbędne przetwarzanie
    </label>
</form>
