<emoji-kanji content='[["🔒", "translate(0px, 0px) scale(1.5)"], ["🛡️", "translate(0px, 5.5px) scale(1)"], ["✅", "translate(12px, 16px) scale(0.6)"]]' style="width: 40px; height: 40px; transform: scale(2);"></emoji-kanji>
<h2 id="rodo-version" data-version="2.0" data-project="ctcae" class="statement-label" style="text-align: center;"></h2>
    <h4 class="statement-label" style="text-align: center;">Przed przystąpieniem do wypełniania skali CTCAE zapoznaj się z treścią ochrony danych pacjentów.</h4>
      <form id="rodo-form">
        <strong class="statement-label" style="text-align: center;">Bezpieczeństwo przeglądarki</strong>
        <p class="statement-label">Aby zminimalizować ryzyko wycieku danych, zaleca się używanie przeglądarki bez aktywnych wtyczek i rozszerzeń. Włączaj tylko te, które są zaufane.</p>
          <br>
          <label class="statement-label">
              <input type="checkbox" class="statement" data-groups="browser" data-statement="browser_safty"> Potwierdzam, że będę korzystać z przeglądarki z wyłączonymi nieznanymi wtyczkami i rozszerzeniami.
            </label>
          </label>
          <br><br>
        <strong class="statement-label" style="text-align: center;">Bezpieczeństwo danych pacjenta</strong>
        <p class="statement-label">Potwierdzam, że:</p>          
          <label class="group-label">
              <input type="checkbox" class="group-toggle" data-group="form"> Potwierdzam wszystko
          </label>
          <ol class="group-label">
            <li class="statement-label"><label class="statement-label">
                <input type="checkbox" class="statement" data-groups="form" data-statement="id_encoding"> Będę kodować identyfikator pacjenta korzystając z wbudowanego komponentu w formularzu.
            </label></li>
            <li class="statement-label"><label class="statement-label">
                <input type="checkbox" class="statement" data-groups="form" data-statement="date_encoding"> Rozumiem, że chociaż zakodowanie daty wizyty utrudnia analizę, to znacząco ogranicza możliwość śledzenia pacjenta.
            </label></li>
            <li class="statement-label"><label class="statement-label">
                <input type="checkbox" class="statement" data-groups="form" data-statement="data_storage"> Dane wyjściowe skopiowane z formularza będę przechowywać w bezpiecznym miejscu i nie udostępniać osobom postronnym.
            </label></li>
          </ol>
      </form>